---
import BitcoinDonate from "../../../components/BitcoinDonate";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Donar Bitcoin - KliaStore" />
        <title>Donar Bitcoin - KliaStore</title>
    </head>
    <body>
        <BitcoinDonate client:only="react" />
    </body>
</html>
